@import "../styles/animation.scss";

.new-chat {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mask-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    animation: slide-in-from-top ease 0.3s;

    .row {
      display: flex;
      flex-direction: row;
    }
  }

  .mask-cards {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20px;
    animation: slide-in ease 0.3s;

    .mask-card {
      padding: 20px 10px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      border-radius: 14px;
      background-color: var(--white);
      transform: scale(1);

      &:first-child {
        transform: rotate(-15deg) translateY(5px);
      }

      &:last-child {
        transform: rotate(15deg) translateY(5px);
      }
    }
  }

  .title {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 1vh;
    animation: slide-in ease 0.35s;
  }

  .sub-title {
    animation: slide-in ease 0.4s;
  }

  .actions {
    margin-top: 5vh;
    margin-bottom: 2vh;
    animation: slide-in ease 0.45s;
    display: flex;
    justify-content: center;
    font-size: 12px;

    .skip {
      margin-left: 10px;
    }
  }

  .masks {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    margin-top: 1em;
    padding-top: 20px;
    padding-left: 20px;

    animation: slide-in ease 0.5s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .mask {
      display: flex;
      flex-direction: column;
      margin-bottom: .5em;
      height: 5em;
      width: 12em;
      padding: 10px 14px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      background-color: var(--white);
      border-radius: 10px;
      margin-right: 10px;
      transform: scale(1);
      cursor: pointer;
      transition: all ease 0.3s;

      &:hover {
          transform: translateY(-5px) scale(1.1);
          z-index: 999;
          border-color: var(--primary);
      }

      .mask-head {
        display: flex;
        align-items: center;

        .mask-name {
            margin-left: 10px;
            font-size: 14px;
        }
      }

      .mask-desc {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
      }
    }

    .white-mask {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--primary);
      color: white;
      margin-bottom: .5em;
      height: 5em;
      width: 12em;
      padding: 10px 14px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      border-radius: 10px;
      margin-right: 10px;
      transform: scale(1);
      cursor: pointer;
      transition: all ease 0.3s;

      &:hover {
          transform: translateY(-5px) scale(1.1);
          z-index: 999;
          border-color: var(--primary);
      }
      svg {
        filter: invert(0);
        path {
          fill: white !important;
        }
      }
      
    }
  }
}
